# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files we want to always be normalized and auto detected correctly
*.py text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.bat text eol=crlf

# Treat these files as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary 